<!DOCTYPE html>
<html>
<head>
    <title>Graphical Overview</title>
</head>
<body>
    <h1>Graphical Overview</h1>
    <h3>Withdrawal Overview:</h3>
    <div>
        {{ max_transactions }}
        <div>
            <h3>Maximum Withdrawal Transaction details:</h3>
            {{ waa_details }}
        </div>
    </div>
    <h3>Deposit Overview:</h3>
    <div>
        {{ max_transactions }}
        <div>
            <h3>Maximum Deposit Transaction details:</h3>
            {{ daa_details }}
        </div>
    </div>
</body>
</html>
